body {
  display: flex;
}

.images {
  background-image: url(images/background.jpeg);
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
}

label {
  display: block;
}
l .text {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}

.form > * {
  display: flex;
  flex-direction: row;
  gap: clamp(16px, 32px, 4%);
  margin-bottom: 16px;
}
